<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    
    {% block title %}
    {% endblock %}
  </head>
  <body>
    <nav>
      <ul class="menu">
        {% if ulogin == None %}
          <li><a class="button" href="/login">Login</a></li>
        {% else %}
          <li><a class="button" href="/logoff">Logoff</a></li>
          <li><a class="button" href="/classes/guest.py">Guest</a></li>
          <li><a class="button" href="/classes/participation.py">Participation</a></li>
          <li><a class="button" href="/classes/podcast.py">Podcast</a></li>
          <li><a class="button" href="/classes/sponsor.py">Sponsor</a></li>
          <li><a class="button" href="/classes/theme.py">Theme</a></li>
          <li><a class="button" href="/Userlogin">Users</a></li>
          <li><a class="button" style="color:#ff6595; font-weight: bold;">User: {{ulogin}}</a></li>
                    
        {% endif %}
      </ul>
    </nav>
    
    {% block content %}
    {% endblock %}
  </body>
</html>
