{% extends 'base.html' %}

{% block content %}
    <div class="dados dados-form">
        <div class="card-head">
            <img class="card-icon" src="/static/images/{{cname|lower}}.png" alt="{{cname}}">
            <h1>{{cname}}</h1>
        </div>

        <div class="toolbar">
            <button id="edit" type="button" {{butshow}} onclick="window.location.href = '/gform/{{cname}}?option=edit'" class="button1">Edit</button>
            <button id="delete" type="button" {{butshow}} onclick="window.location.href = '/gform/{{cname}}?option=delete'" class="button1">Delete</button>
            <button id="insert" type="button" {{butshow}} onclick="window.location.href = '/gform/{{cname}}?option=insert'" class="button1">Insert</button>
            <button id="save" type="submit" form="form" class="button1" {{butedit}}>Save</button>
            <button id="cancel" type="button" {{butedit}} onclick="window.location.href = '/gform/{{cname}}?option=cancel'" class="button1">Cancel</button>
            <button id="exit" type="button" {{butshow}} onclick="window.location.href = '/gform/{{cname}}?option=exit'" class="button1">Exit</button>
        </div>

        <form id="form" class="field-grid" action="/gform/{{cname}}?option=save" method="post">
            {% for key in att %}
                <div class="field {% if loop.index == 1 %}field-narrow{% endif %}">
                    <label for="{{key}}">{{des[loop.index-1]}}:</label>
                    {% if loop.index == 1 %}
                        <input type="text" readonly id="{{key}}" name="{{key}}" value="{{obj[key]}}"/>
                    {% else %}
                        <input type="text" {{butedit}} id="{{key}}" name="{{key}}" value="{{obj[key]}}"/>
                    {% endif %}
                </div>
            {% endfor %}
        </form>

        <div class="toolbar toolbar-nav">
            <button id="first" type="button" {{butshow}} onclick="window.location.href = '/gform/{{cname}}?option=first'" class="button1">First</button>
            <button id="previous" type="button" {{butshow}} onclick="window.location.href = '/gform/{{cname}}?option=previous'" class="button1">Previous</button>
            <button id="next" type="button" {{butshow}} onclick="window.location.href = '/gform/{{cname}}?option=next'" class="button1">Next</button>
            <button id="last" type="button" {{butshow}} onclick="window.location.href = '/gform/{{cname}}?option=last'" class="button1">Last</button>
        </div>
    
    {% if cname == 'Guest' %}
        <div style="margin-top:20px;">
            <button type="button" class="button1" onclick="window.location.href = '/gform/{{cname}}?option=check_participation'">
                Participations
            </button>

            {% if participacoes is not none %}
                {% if participacoes %}
                    <p style="color:green; margin-top:15px;">
                      This guest participated in <strong>{{ participacoes|length }}</strong> podcast(s):
                    </p>
                    <table border="1" cellpadding="8" style="border-collapse:collapse; width:100%; margin-top:10px;">
                        <tr style="background:#f0f0f0;">
                            <th>Podcast ID</th>
                            <th>Data</th>
                            <th>Amount</th>
                        </tr>
                        {% for p in participacoes %}
                        <tr>
                            <td>{{ p.podcast_id }}</td>
                            <td>{{ p.creation_date }}</td>
                            <td>{{ p.amount }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p style="color:orange; margin-top:15px;">
                         This guest never participated in any podcast.
                    </p>
                {% endif %}
            {% endif %}
        </div>
        {% endif %}

    </div>
{% endblock %}
