{% extends 'base.html' %}

{% block content %}
    <div class="dados">
        <div class="card-head card-head-center">
            <img class="card-icon" src="{{ url_for('static', filename='images/login.png') }}" alt="login">
            <h1>Login</h1>
        </div>
        <form id="form" action="/chklogin" method="post">
            <div class="field">
                <label for="user">User:</label>
                <input type="text" id="user" name="user" value="{{user}}"/>
            </div>
            <div class="field">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" value="{{password}}"/>
            </div>
            <div class="toolbar toolbar-center">
                <button type="submit" class="button1 button1-accent">Login</button>
            </div>
        </form>
        <h3 class="error-msg">{{resul}}</h3>
    </div>
{% endblock %}

