{% extends 'base.html' %}

{% block content %}
    <div class="dados dados-form">
        <div class="card-head">
            <img class="card-icon" src="{{ url_for('static', filename='images/users.png') }}" alt="users">
            <h1>Userlogin</h1>
        </div>

        <div class="toolbar">
            <button id="edit" type="button" {{butshow}} onclick="window.location.href = '/Userlogin?option=edit'" class="button1">Edit</button>
            {% if group == "admin" %}
                <button id="delete" type="button" {{butshow}} onclick="window.location.href = '/Userlogin?option=delete'" class="button1">Delete</button>
                <button id="insert" type="button" {{butshow}} onclick="window.location.href = '/Userlogin?option=insert'" class="button1">Insert</button>
            {% endif %}
            <button id="save" type="submit" form="form" {{butedit}} class="button1">Save</button>
            <button id="cancel" type="button" {{butedit}} onclick="window.location.href = '/Userlogin?option=cancel'" class="button1">Cancel</button>
            <button id="exit" type="button" {{butshow}} onclick="window.location.href = '/Userlogin?option=exit'" class="button1">Exit</button>
        </div>

        <form id="form" class="field-grid" action="/Userlogin?option=save" method="post">
            {% if group == "admin" %}
                <div class="field field-narrow">
                    <label for="id">Id:</label>
                    <input type="text" disabled id="id" name="id" value="{{id}}"/>
                </div>
                <div class="field">
                    <label for="user">User:</label>
                    <input type="text" {{butedit}} id="user" name="user" value="{{user}}"/>
                </div>
                <div class="field">
                    <label for="usergroup">Group:</label>
                    <input type="text" {{butedit}} id="usergroup" name="usergroup" value="{{usergroup}}"/>
                </div>
            {% else %}
                <div class="field field-narrow">
                    <label for="id">Id:</label>
                    <input type="text" disabled id="id" name="id" value="{{id}}"/>
                </div>
                <div class="field">
                    <label for="user">User:</label>
                    <input type="text" disabled id="user" name="user" value="{{user}}"/>
                </div>
                <div class="field">
                    <label for="usergroup">Group:</label>
                    <input type="text" disabled id="usergroup" name="usergroup" value="{{usergroup}}"/>
                </div>
            {% endif %}
            <div class="field">
                <label for="password">Password:</label>
                <input type="password" {{butedit}} id="password" name="password"/>
            </div>
        </form>

        {% if group == "admin" %}
            <div class="toolbar toolbar-nav">
                <button id="first" type="button" {{butshow}} onclick="window.location.href = '/Userlogin?option=first'" class="button1">First</button>
                <button id="previous" type="button" {{butshow}} onclick="window.location.href = '/Userlogin?option=previous'" class="button1">Previous</button>
                <button id="next" type="button" {{butshow}} onclick="window.location.href = '/Userlogin?option=next'" class="button1">Next</button>
                <button id="last" type="button" {{butshow}} onclick="window.location.href = '/Userlogin?option=last'" class="button1">Last</button>
            </div>
        {% endif %}

        <p class="error-msg">{{msg}}</p>
    </div>
{% endblock %}
